package {{ .PackageName }}

import (
	"context"
	"fmt"

	"github.com/jmoiron/sqlx"
	db_models "{{ .ModuleName }}/model/database"
	kro_model "github.com/krobus00/krobot-building-block/model"
	kro_util "github.com/krobus00/krobot-building-block/util"
)
func (r *repository) GetAll{{ .EntityName }}(ctx context.Context, db *sqlx.DB, paginationRequest *kro_model.PaginationRequest, config ...kro_model.Config) ([]*db_models.{{ .EntityName }}, int64, error) {
	span := kro_util.StartTracing(ctx, tag, tracingGetAll{{ .EntityName }})
	defer span.Finish()

	var totalCount int64
	results := make([]*db_models.{{ .EntityName }}, 0)

	paginationConfig := kro_model.ParamsFromRequest(paginationRequest)

	paginationSearchField := kro_model.SearchFields(searchFields...)
	selectBuilder, countBuilder, err := kro_model.PaginateQuery(ctx, db, results, r.buildSelectQuery(), paginationConfig, columnMapping, whiteList, paginationSearchField, config)
	if err != nil {
		r.logger.Zap.Error(fmt.Sprintf("%s %s with: %v", tag, tracingGetAll{{ .EntityName }}, err))
		return nil, 0, err
	}

	countQuery, args, err := countBuilder.ToSql()
	if err != nil {
		r.logger.Zap.Error(fmt.Sprintf("%s %s with: %v", tag, tracingGetAll{{ .EntityName }}, err))
		return nil, 0, err
	}
	selectQuery, args, err := selectBuilder.ToSql()
	if err != nil {
		r.logger.Zap.Error(fmt.Sprintf("%s %s with: %v", tag, tracingGetAll{{ .EntityName }}, err))
		return nil, 0, err
	}

	err = db.GetContext(ctx, &totalCount, countQuery, args...)
	if err != nil {
		r.logger.Zap.Info(fmt.Sprintf("%s %s with query: %v", tag, tracingGetAll{{ .EntityName }}, countQuery))
		r.logger.Zap.Error(fmt.Sprintf("%s %s with: %v", tag, tracingGetAll{{ .EntityName }}, err))
		return nil, 0, err
	}
	err = db.SelectContext(ctx, &results, selectQuery, args...)
	if err != nil {
		r.logger.Zap.Info(fmt.Sprintf("%s %s with query: %v", tag, tracingGetAll{{ .EntityName }}, selectQuery))
		r.logger.Zap.Error(fmt.Sprintf("%s %s with: %v", tag, tracingGetAll{{ .EntityName }}, err))
		return nil, 0, err
	}
	r.logger.Zap.Info(fmt.Sprintf("%s %s with query: %v", tag, tracingGetAll{{ .EntityName }}, selectQuery))
	return results, totalCount, nil
}
