package {{ .PackageName }}

import (
	"context"
	"fmt"

	sq "github.com/Masterminds/squirrel"
	"github.com/jmoiron/sqlx"
	db_models "{{ .ModuleName }}/model/database"
	kro_util "github.com/krobus00/krobot-building-block/util"
)

func (r *repository) Update{{ .EntityName }}ByID(ctx context.Context, db kro_pkg.Querier, input *db_models.{{ .EntityName }}) error {
	span := kro_util.StartTracing(ctx, tag, tracingUpdate{{ .EntityName }}ByID)
	defer span.Finish()

	query, args, err := r.buildUpdateQuery(input).Where(sq.Eq{
		"id": input.ID,
	}).ToSql()

	if err != nil {
		r.logger.Zap.Error(fmt.Sprintf("%s %s with: %v", tag, tracingUpdate{{ .EntityName }}ByID, err))
		return err
	}

	_, err = db.ExecContext(ctx, query, args...)
	if err != nil {
		r.logger.Zap.Error(fmt.Sprintf("%s %s with: %v", tag, tracingUpdate{{ .EntityName }}ByID, err))
		return err
	}

	return nil
}
