package {{ .PackageName }}

import (
	"net/http"

	"{{ .ModuleName }}/model"
	kro_util "github.com/krobus00/krobot-building-block/util"
	"github.com/labstack/echo/v4"
)

func (c *Controller) HandleShow{{ .EntityName }}(eCtx echo.Context) error {
	ctx := eCtx.Request().Context()
	span := kro_util.StartTracing(ctx, tag, tracingShow{{ .EntityName }})
	defer span.Finish()

	payload := new(model.Show{{ .EntityName }}Request)
	if err := eCtx.Bind(payload); err != nil {
		return err
	}

	if err := eCtx.Validate(payload); err != nil {
		trans := kro_util.TranslatorFromRequestHeader(eCtx, c.Translator)
		return echo.NewHTTPError(http.StatusBadRequest, kro_util.BuildValidationErrors(err, trans))
	}

	resp, err := c.{{ .EntityName }}Service.Get{{ .EntityName }}ByID(ctx, payload)
	if err != nil {
		return err
	}

	return eCtx.JSON(http.StatusOK, resp)
}
